// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hero-image {
    background-image: url('/images/back.jpeg');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar-light .navbar-brand {
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 130px;
    height: 20px;
}

.btnlink {
    background-color: transparent;
    color: black;
    border: solid;
    border-radius: 25px;
    text-decoration: none;
    padding: 8px;
    border-width: 3px;
    font-size: small;
}

.div_cats {
    padding-top: 8px;
    background-color: white;
    border-radius: 10px;
}

.pheader {
    background-image: url('/images/back.jpeg');
    background-size: cover;
    height: 250px;
}

.card_home {
    margin: auto;
    width: 50%;
    opacity: 0.9;
    // background-color: #00000025 ;
    background-color: transparent;
    min-width: 450px;
}

.rbtn {
    border: solid;
    border-radius: 25px;
    padding: 8px;
    border-width: 3px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-decoration: none;
    min-width: 200px;
}
.rbtn:hover{
    border: solid;
    border-radius: 25px;
    padding: 8px;
    border-width: 3px;
    border-color: white;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    min-width: 200px;
}


.lbtn{
    text-decoration: none;
    border: solid;border-radius: 25px;padding: 8px;border-width: 3px;font-size: small;; background-color: white; border-color: white;text-decoration: none; font-weight: bold;min-width: 200px;
}
